.card-body img {
  height: 35%;
  width: 50%;
  border-radius: 10%;
  padding-left: 4px;
}

.card-header {
  text-align: center;
}

.card-body {
  max-height: 780px;
}

.col-md-6 img {
  width: 100%;
  border-radius: 0%;
  height: auto;
}

.project-row img {
  max-height: 200px;
}

.card-about {
  display: flex;
}
#comic-photo {
  border-radius: 0;
  width: 99%;

}
.size-about-me {
  font-size: 18px;
}

.row.one {
  display: flex-row:
}

.buko {
  float: left;
  margin-right: 8px;
  margin-top: 12px;
}

ol {
  margin-left: 400px;
}

.bg_eggshell {
  background-color: #ECECEA;
}

.bg_lightblue {
  background-color: #74AFAD;
}

.bg_darkblue {
  background-color: #558C89;
}

.bg_orange {
  background-color: #D9853B;
}
