.card img {
  height: 50%;
  width: 50%;
  border-radius: 10%;
  padding-left: 4px;
}

.card-header {
  text-align: center;
}

.card-body {
  max-height: 780px;
}

.col-md-6 img {
  width: 100%;
  border-radius: 0%;
  height: auto;
}

.project-row img {
  max-height: 200px;
}

.card-about {
  display: flex;
}
#comic-photo {
  border-radius: 0;
  width: auto;
  height: auto;
}
